mixin arrow({ type='expand', isColored=false, isBold=false } = {})
  -const coloredModifier = isColored ? ' arrow_colored' : ''
  -const boldModifier = isBold ? ' arrow_bold' : ''

  -let arrowContent, validType
  case type
    when 'expand'
      -arrowContent = 'expand_more'
      -validType = 'expand'
    when 'enter'
    default
      -arrowContent = 'arrow_forward'
      -validType = 'enter'

  span.arrow.js-arrow(class=`arrow_type_${validType}${coloredModifier}${boldModifier}`) #{arrowContent}
