mixin arrow({type = "expand", isColored = false, isBold = false, isRelative = false})
  //-type: "expand"/"enter"
  -const coloredClass = isColored ? "arrow_colored" : ""
  -const boldClass = isBold ? "arrow_bold" : ""
  -const relativeClass = isRelative ? "arrow_relative" : ""

  if type === "expand"
    span(class=`arrow arrow_expand ${coloredClass} ${boldClass} ${relativeClass}`) expand_more
  else if type === "enter"
    span(class=`arrow arrow_enter ${coloredClass} ${boldClass} ${relativeClass}`) arrow_forward
