mixin arrow({type='expand', isColored=false, isBold=false, isRelative=false} = {})
  -const coloredModifier = isColored ? 'arrow_colored' : ''
  -const boldModifier = isBold ? 'arrow_bold' : ''
  -const relativeModifier = isRelative ? 'arrow_relative' : ''

  -let arrowContent, validType
  case type
    when 'expand'
      -arrowContent = 'expand_more'
      -validType = 'expand'
    when 'enter'
    default
      -arrowContent = 'arrow_forward'
      -validType = 'enter'

  span(class=`js-arrow arrow arrow_type_${validType} ${coloredModifier} ${boldModifier} ${relativeModifier}`) #{arrowContent}
