mixin arrow({type='expand', isColored=false, isBold=false, isRelative=false} = {})
  -const coloredClass = isColored ? 'arrow_colored' : ''
  -const boldClass = isBold ? 'arrow_bold' : ''
  -const relativeClass = isRelative ? 'arrow_relative' : ''

  -let arrowContent, validType
  case type
    when 'expand'
      -arrowContent = 'expand_more'
      -validType = 'expand'
    when 'enter'
    default
      -arrowContent = 'arrow_forward'
      -validType = 'enter'
  span(class=`js-arrow arrow arrow_type_${validType} ${coloredClass} ${boldClass} ${relativeClass}`) #{arrowContent}
