mixin rating({maxRating = 5, rating = -1} = {})
  -const ratingClass = 'rating'

  div(class=`js-${ratingClass} ${ratingClass}` data-maxRating=max-rating data-rating=rating)
    each val in new Array(maxRating)
      label(class=`js-${ratingClass}__star ${ratingClass}__star`) star
