include ../../blocks/input/input
include ../../blocks/title/title
mixin footer({text='', copyright='', links=[], subscription={}, isSimple=false} = {})
  -const logo = require('../../assets/images/logo-colored-withText.svg');
  -const typeModifier = isSimple ? '_type_simple' : '_type_large'
  footer(class=`footer footer${typeModifier}`)
    div(class=`footer__content-section footer__content-section${typeModifier}`)
      div(class=`footer__logo-section footer__logo-section${typeModifier}`)
        img(src=logo alt='logo' class=`footer__logo footer__logo${typeModifier}`)
        span(class=`footer__logo-text footer__logo-text${typeModifier}`) #{text}
      if !isSimple
        div.footer__links-section.footer__links-section_type_large
          each column in links
            div.footer__links-column.footer__links-column_type_large
              div.footer__links-section-title.footer__links-section-title_type_large
                +title({type: 'label', text: column.title})
              if column.links
                each link in column.links
                  a.footer__link.footer__link_type_large(href=link.url) #{link.text}
        div.footer__subscribe-section.footer__subscribe-section_type_large
          div.footer__subscription-title.footer__subscription-title_type_large
            +title({type: 'label', text: subscription.title})
          span.footer__subscription-text.footer__subscription-text_type_large #{subscription.text}
          div.footer__subscribe-input
            +input({
              type: 'text',
              width: 'premedium',
              withSubscription: true,
              placeholder: subscription.emailPlaceholder
            })
    div(class=`footer__copyright-bar footer__copyright-bar${typeModifier}`)
      if !isSimple
        span.footer__copyright-text.footer__copyright-text_type_large #{copyright}
      div.footer__social-media
        div.footer__icon
          a.fab.fa-twitter(href='https://twitter.com/' target='_blank', rel='noopener noreferrer')
        div.footer__icon
          a.fab.fa-facebook-square(href='https://facebook.com/' target='_blank' rel='noopener noreferrer')
        div.footer__icon
          a.fab.fa-instagram(href='https://www.instagram.com/' target='_blank' rel='noopener noreferrer')
