include ../../blocks/two-calendar-range-picker/two-calendar-range-picker
include ../../blocks/input/input
include ../../blocks/button/button
include ../../blocks/dropdown/dropdown

//- data = {
  arrivalDate: string("dd.MM.yyyy") - дата въезда
  departureDate: string("dd.MM.yyyy") - дата выезда
  }
mixin bookingCard(data={})
  div(class = `booking-card`)
    header.booking-card__header
      div.booking-card__room-info
        span.booking-card__number-text №
        h3.booking-card__room-num #{data.roomNumber}
        span.booking-card__room-type #{data.roomType}
      div.booking-card__price-info
        span.booking-card__daily-price(data-dailyPrice=data.dailyPrice data-currency=data.currency) #{data.dailyPrice}#{data.currency}
        span.booking-card__payment-period  в сутки
    div.booking-card__range-picker
      +twoCalendarRangePicker({labels: ["Прибытие", "Выезд"], firstDate: data.arrivalDate, secondDate: data.departureDate})
    div.booking-card__guests-dropdown
      +dropdown({title: "Гости", dropdownType: "customers", isUnified: true, placeholder: "Сколько гостей", data: data.dropdownItems})
    div.booking-card__check-container
      div.booking-card__staying-cost-row.row
        span.booking-card__staying-cost-calculation.col1 test
        span.booking-card__staying-cost-sum.col3 test
      div.booking-card__services-cost-row.row
        span.booking-card__services.col1(data-services=data.services)
        div.col2
          +infoIcon()
        span.booking-card__services-sum.col3
      div.booking-card__additional-services-row.row
        span.booking-card__additional-services-text.col1 Сбор за дополнительные услуги
        div.col2
          +infoIcon()
        span.booking-card__additional-services-sum.col3(data-addServices=data.additionalPrice) #{data.additionalPrice}#{data.currency}
    div.booking-card__summary
      span.booking-card__summary-text Итого
      div.booking-card__summary-dash-underline
      span.booking-card__summary-total-cost
    div.booking-card__booking-button
      +button({text: "Забронировать", type: "filled", size: "wide", decoration: "enter-arrow"})

mixin infoIcon()
  span(class=`booking-card__info-icon`) i
