include ../../blocks/two-calendar-range-picker/two-calendar-range-picker
include ../../blocks/button/button
include ../../blocks/dropdown/dropdown

mixin bookingCard({roomNumber, roomType, dailyPrice, currency, arrivalDate, departureDate, dropdownItems=[], services, additionalPrice})
  div.js-booking-card.booking-card
    header.booking-card__header
      div.booking-card__room-info
        span.booking-card__number-text №
        h3.booking-card__room-num #{roomNumber}
        span.booking-card__room-type #{roomType}
      div.booking-card__price-info
        span.js-booking-card__daily-price.booking-card__daily-price(data-dailyPrice=dailyPrice data-currency=currency) #{dailyPrice}#{currency}
        span.booking-card__payment-period  в сутки
    div.js-booking-card__range-picker.booking-card__range-picker
      +twoCalendarRangePicker({labels: ['Прибытие', 'Выезд'], firstDate: arrivalDate, secondDate: departureDate})
    div.booking-card__guests-dropdown
      +dropdown({title: 'Гости', dropdownType: 'customers', isUnified: true, placeholder: 'Сколько гостей', data: dropdownItems})
    div.booking-card__check-container
      div.js-booking-card__staying-cost-row.booking-card__staying-cost-row
        span.js-booking-card__staying-cost-calculation.booking-card__staying-cost-calculation test
        span.js-booking-card__staying-cost-sum.booking-card__staying-cost-sum test
      div.booking-card__services-cost-row
        span.js-booking-card__services.booking-card__services(data-services=services)
        span.booking-card__info-icon i
        span.js-booking-card__services-sum.booking-card__services-sum
      div.booking-card__additional-services-row
        span.booking-card__additional-services-text Сбор за дополнительные услуги
        span.booking-card__info-icon i
        span.js-booking-card__additional-services-sum.booking-card__additional-services-sum(data-addServices=additionalPrice) #{additionalPrice}#{currency}
    div.booking-card__summary
      span.booking-card__summary-text Итого
      div.booking-card__summary-dash-underline
      span.js-booking-card__summary-total-cost.booking-card__summary-total-cost
    div.booking-card__booking-button
      +button({text: 'Забронировать', type: 'filled', size: 'wide', decoration: 'enter-arrow'})
