mixin slider(data={})
  -var defaultData = {minValue: 0, maxValue: 10, step: 1, title: "", isRange: false, initialValues: [5]}
  -data = Object.assign(defaultData, data)

  if (!initialValues)
    -initialValues = [data.minValue, data.maxValue];
  if data.isRange
    div(class="slider slider_range ")
      div(class="slider__text")
        p(class="slider__title") #{data.title}
        p(class="slider__value") ₽
      div.slider__plugin-container
        div(class="slider__control slider__control_range"
          data-min=data.minValue data-max=data.maxValue data-step=data.step
          data-firstValue=data.initialValues[0] data-secondValue=data.initialValues[1])
  else
    div(class="slider ")
      div(class="slider__text")
        p(class="slider__title") #{data.title}
        p(class="slider__value") ₽
      div.slider__plugin-container
        div(class="slider__control" data-min=data.minValue data-max=data.maxValue data-step=data.step data-firstValue=data.initialValues[0])
