include ../datepicker-block/datepicker-block

mixin twoCalendarRangePicker({labels=[], firstDate, secondDate})
  -const twoCalendarRangePickerClass = 'two-calendar-range-picker'
  -const firstDatepickerClass = `${twoCalendarRangePickerClass}__first-datepicker`
  -const secondDatepickerClass = `${twoCalendarRangePickerClass}__second-datepicker`

  -function createDatepicker(title) {
    +datepicker({
      title: title ? title : "",
      type: "datepicker",
      width: "narrow",
      placeholder: "ДД.ММ.ГГГГ",
    })
  -}

  div(class=`js-${twoCalendarRangePickerClass} ${twoCalendarRangePickerClass}` data-firstDate=firstDate data-secondDate=secondDate)
    div(class=`js-${firstDatepickerClass} ${firstDatepickerClass}`)
      -createDatepicker(labels[0])
    div(class=`js-${secondDatepickerClass} ${secondDatepickerClass}`)
      -createDatepicker(labels[1])
