include ../arrow/arrow
//- types: filled, bordered, text
mixin Button({text = '', isTextSized = false, isLink = false, type = 'filled', size = '', decoration = '', isHovered = false})
  - const blockClassName = 'button'
  - const borderClassName = '__border'
  - const controlClassName = '__control'
  - const decorationCN = '__decoration'
  - const classNames = [blockClassName, borderClassName, controlClassName, decorationCN]

  - const blockAttributes = {class: `${blockClassName} ${blockClassName}_type_${type} `}
  - const borderAttributes = {class: `${blockClassName}${borderClassName} ${blockClassName}${borderClassName}_type_${type} `}
  - const controlAttributes = {class: `${blockClassName}${controlClassName} ${blockClassName}${controlClassName}_type_${type} `}
  - const decorationAttributes = {class: `${blockClassName}${decorationCN} ${blockClassName}${decorationCN}_type_${type} `}
  - const allAttributes = [blockAttributes, borderAttributes, controlAttributes, decorationAttributes]

  each value, index in Object.values(allAttributes)
    if isTextSized
      -value.class += ` ${blockClassName}${index ? classNames[index] : ''}_text-sized `
    if isHovered
      -value.class += ` ${blockClassName}${index ? classNames[index] : ''}_hovered `
    if size
      -value.class += ` ${blockClassName}${index ? classNames[index] : ''}_size_${size} `
    if decoration
      -value.class += ` ${blockClassName}${index ? classNames[index] : ''}_decorated `

  - function createButtonContent() {
    if type === 'bordered'
      div&attributes(borderAttributes)
        button&attributes(controlAttributes) #{text}
    else
      button&attributes(controlAttributes) #{text}
    if decoration === 'enter-arrow'
      div&attributes(decorationAttributes)
        +arrow({type: 'enter'})
  - }

  if isLink
    a(class=blockAttributes.class)
      -createButtonContent()
  else
    div(class=blockAttributes.class)
      -createButtonContent()
