mixin Button(text, addClasses, params={isTextSized: false, isLink: false})
  -let decorationText = ""
  -const decoration = attributes.decoration ? attributes.decoration.toLowerCase() : ""
  -const arrowDecorationCN = "button_decoration_enter-arrow"
  case decoration
    when "enterarrow"
      -decorationText = "arrow_forward"
      -addClasses += ` ${arrowDecorationCN} `
  if params.isTextSized
    -addClasses += ` button_text-sized `
  if params.isLink
    a(class="button " + addClasses)
      if addClasses.includes("bordered")
        div.button__border.button__border_type_bordered
          button(class="button__control text_type_label-CTA ") #{text}
      else
        button(class="button__control text_type_label-CTA ") #{text}
      if addClasses.includes(arrowDecorationCN)
        div.button__decoration #{decorationText}
  else
    div(class="button " + addClasses)
      if addClasses.includes("bordered")
        div.button__border.button__border_type_bordered
          button(class="button__control text_type_label-CTA ") #{text}
      else
        button(class="button__control text_type_label-CTA ") #{text}
      if addClasses.includes(arrowDecorationCN)
        div.button__decoration #{decorationText}
