include ../arrow/arrow
//- types: filled, bordered, text
mixin Button(params={})
  - var defaultParams = {text: "", isTextSized: false, isLink: false, type: "filled", size: "", decoration: "", isHovered: false}
  - params = Object.assign(defaultParams, params)

  - var blockClassName = "button"
  - var borderClassName = "__border"
  - var controlClassName = "__control"
  - var classNames = [blockClassName, borderClassName, controlClassName]

  - var blockAttributes = {class: `${blockClassName} ${blockClassName}_type_${params.type}`}
  - var borderAttributes = {class: `${blockClassName}${borderClassName} ${blockClassName}_type_${params.type}${borderClassName}`}
  - var controlAttributes = {class: `${blockClassName}${controlClassName} ${blockClassName}_type_${params.type}${controlClassName}`}
  - var attributes = {blockAttributes, borderAttributes, controlAttributes}

  - var decorationText = ""
  - var arrowDecorationCN = `${blockClassName}_decoration_enter-arrow`
  - var enterArrowDecoration = "enter-arrow"

  case params.decoration.toLowerCase()
    when enterArrowDecoration
      -decorationText = "arrow_forward"
      -blockAttributes.class += ` ${arrowDecorationCN} `
  each value, index in Object.values(attributes)
    if params.isTextSized
      -value.class += ` ${blockClassName}_text-sized${index ? classNames[index] : ""} `
    if params.isHovered
      -value.class += ` ${blockClassName}_hovered ${index ? classNames[index] : ""} `
    if params.size
      -value.class += ` ${blockClassName}_size_${params.size}${index ? classNames[index] : ""} `

  if params.isLink
    a(class=blockAttributes.class)
      if params.type === "bordered"
        div(class=borderAttributes.class)
          button(class=`${controlAttributes.class}`) #{params.text}
      else
        button(class=`${controlAttributes.class}`) #{params.text}
      if params.decoration === enterArrowDecoration
        div.button__decoration
          +arrow({type: "enter"})
  else
    div(class=blockAttributes.class)
      if params.type === "bordered"
        div(class=borderAttributes.class)
          button(class=`${controlAttributes.class}`) #{params.text}
      else
        button(class=`${controlAttributes.class}`) #{params.text}
      if params.decoration === enterArrowDecoration
        div.button__decoration
          +arrow({type: "enter"})
