include ../../blocks/arrow/arrow
include ../../blocks/input/input

mixin datepicker({title = "", type, width, placeholder, isInline = false, data = undefined})
  -const datepickerCN = 'datepicker-block'
  -const inputWrapCN = `${datepickerCN}__input-wrap`
  -const inlineInputWrapCN = `${datepickerCN}_inline__input-wrap`

  - const inputWrapAttributes = {class: `js-${inputWrapCN} ${inputWrapCN} `}
  - inputWrapAttributes.class += `${isInline ? `js-${inlineInputWrapCN} ${inlineInputWrapCN}` : ''}`
  - inputWrapAttributes['data-first-date'] = data ? data[0] : ''
  - inputWrapAttributes['data-second-date'] = data ? data[1] : ''

  div(class=`js-${datepickerCN} ${datepickerCN}`)
    div&attributes(inputWrapAttributes)
      +input({title: title, width: width, placeholder: placeholder, isExpandable: !isInline, inDatepicker: true})
