mixin pagination({pageSize = 12})
  -const paginationClassName = 'pagination'
  -const contentContainerClassName = `${paginationClassName}__content-container`
  -const buttonsContainerClassName = `${paginationClassName}__buttons-container`

  -const paginationAttrs = {class: `js-${paginationClassName} ${paginationClassName}`}
  -const contentAttrs = {class: `js-${contentContainerClassName} ${contentContainerClassName} `}
  -const buttonsAttrs =	{class: `js-${buttonsContainerClassName} ${buttonsContainerClassName} `}

  div&attributes(paginationAttrs)(data-page-size=pageSize)
    div&attributes(contentAttrs)
      block
    div&attributes(buttonsAttrs)
