include ../../cards/room-preview-card/room-preview-card
mixin pagination({pageSize = 12, items=[]} = {})
  -const paginationClass = 'pagination'
  -const contentContainerClass = `${paginationClass}__content`
  -const buttonsContainerClass = `${paginationClass}__buttons`

  -const paginationAttributes = {class: `js-${paginationClass} ${paginationClass}`}
  -const contentAttributes = {class: `js-${contentContainerClass} ${contentContainerClass} `}
  -const buttonsAttributes =	{class: `js-${buttonsContainerClass} ${buttonsContainerClass} `}

  nav&attributes(paginationAttributes)(data-page-size=pageSize)
    div&attributes(contentAttributes)
      each item, index in items
        div.pagination__item
          +room-preview-card(item)
    div&attributes(buttonsAttributes)
