mixin donut-chart({data=[], defaultStyle={}, activeStyle={}, arcsGap=0} = {})
  figure.js-donut-chart.donut-chart
    div.donut-chart__image-container
      svg.js-donut-chart__svg.donut-chart__svg(preserveAspectRatio='xMidYMid meet'
        data-arcs-gap=arcsGap
        data-default-outer-radius=defaultStyle.outerRadius data-default-inner-radius=defaultStyle.innerRadius
        data-active-outer-radius=activeStyle.outerRadius data-active-inner-radius=activeStyle.innerRadius
        )
        defs
          each arc, index in data
            linearGradient(id=`grad${index}` x1='0%' y1='0%' x2='0%' y2='100%')
              stop(stop-color=arc.firstColor)
              stop(offset='100%' stop-color=arc.secondColor)
        each arc, index in data
          path.js-donut-chart__svg-arc.donut-chart__svg-arc( stroke=`url(#grad${index})` fill='transparent'
            data-value=arc.value data-is-active=`${arc.isActive}` data-color=arc.firstColor
            )
      div.js-donut-chart__active-data.donut-chart__active-data
        span.js-donut-chart__active-value.donut-chart__active-value
        span.js-donut-chart__value-text.donut-chart__value-text
    ul.js-donut-chart__legend.donut-chart__legend
      each arc in data
        li.js-donut-chart__legend-item.donut-chart__legend-item(
          style=`--background: linear-gradient(180deg, ${arc.firstColor} 0%, ${arc.secondColor} 100%); --color: ${arc.firstColor}`
          ) #{arc.caption}
