div.donut-chart__image-container
  svg(class="donut-chart__svg" width="200" height="200" preserveAspectRatio="xMidYMid meet")
    defs
      each arc, index in arcs
        linearGradient(id=`grad${index}` x1="0%" y1="0%" x2="0%" y2="100%")
          stop(stop-color=arc.firstColor)
          stop(offset="100%" stop-color=arc.secondColor)
    each arc, index in arcs
      path(stroke=`url(#grad${index})` fill="transparent" class="donut-chart__svg-arc")
  div.donut-chart__active-data
    span.donut-chart__active-value.text_type_widget-title
    span.donut-chart__value-text.text_type_widget-title
ul.donut-chart__legend
  each arc in arcs
    li.donut-chart__legend-item.text_type_regular(style=`--background: linear-gradient(180deg, ${arc.firstColor} 0%, ${arc.secondColor} 100%);`) #{arc.caption}
