include ../arrow/arrow
include ../title/title

mixin input({title='', type, isStretched=true, placeholder, withSubscription=false, isExpandable=false, isFocused=false, text, inDropdown=false} = {})
  -const stretchedModifier = isStretched ? ' input_stretched' : ''
  -const subscriptionModifier = withSubscription ? ' input_with-subscription' : ''
  -const expandableModifier = isExpandable ? ' input_expandable' : ''
  -const focusedModifier = isFocused ? ' input_focused' : ''
  -const inDropdownModifier = inDropdown ? ' input_with-dropdown-list' : ''

  -let typeModifier = ''
  case type
    when 'mask'
      -typeModifier = ' input_type_masked'

  div(class=`input js-input${stretchedModifier}${subscriptionModifier}${expandableModifier}${focusedModifier}${inDropdownModifier}${typeModifier}`)
    if title
      div.input__title.js-input__title
        +title({type: 'label', text: title})
    div.input__control-wrapper.js-input__control-wrapper
      input.input__control.js-input__control(value=text placeholder=placeholder readonly=isExpandable)
      button.input__arrow(type='button')
        if withSubscription
          +arrow({type: 'enter', isColored: true, isBold: true})
        else if isExpandable
          +arrow({type: 'expand'})
