include ../arrow/arrow
include ../title/title

mixin input({title='', type, width, placeholder, withSubscription=false, isExpandable=false, isFocused=false, text, inDropdown=false} = {})
  -let widthModifier = ''
  case width
    when 'narrow'
      -widthModifier = ' input_width_narrow'
    when 'almost-medium'
      -widthModifier = ' input_width_almost-medium'
    when 'medium'
      -widthModifier = ' input_width_medium'

  -let subscriptionModifier = expandableModifier = focusedModifier = inDropdownModifier = ''
  if withSubscription
    -subscriptionModifier = ' input_with-subscription'
  if isExpandable
    -expandableModifier = ' input_expandable'
  if isFocused
    -focusedModifier = ' input_focused'
  if inDropdown
    -inDropdownModifier = ' input_with-dropdown-list'

  -let typeModifier = ''
  case type
    when 'mask'
      -typeModifier = ' input_type_masked'

  article(class=`input js-input${widthModifier}${subscriptionModifier}${expandableModifier}${focusedModifier}${inDropdownModifier}${typeModifier}`)
    if title
      div.input__title.js-input__title
        +title({type: 'label', text: title})
    div.input__control-wrapper.js-input__control-wrapper
      input.input__control.js-input__control(value=text placeholder=placeholder readonly=isExpandable)
      if withSubscription
        button.input__arrow
          +arrow({type: 'enter', isColored: true, isBold: true})
      else if isExpandable
        button.input__arrow
          +arrow({type: 'expand'})
