include ../arrow/arrow

mixin input({title = '', type, width, placeholder, withSubscription = false, isExpandable = false, isFocused = false} = {})
  -const blockClassName = 'input'
  -const titleClassName = `${blockClassName}__title`
  -const controlWrapperCN = `${blockClassName}__control-wrapper`
  -const controlClassName = `${blockClassName}__control`
  -const classNames = [blockClassName, titleClassName, controlClassName, controlWrapperCN]

  -const blockAttributes = {class: `${blockClassName} `}
  -const titleAttributes = {class: `js-${titleClassName} ${titleClassName} `}
  -const controlWrapperAttrs = {class: `${controlWrapperCN} `}
  -const controlAttributes = {class: `js-${controlClassName} ${controlClassName} `,
  -  placeholder: placeholder}
  -const allAttrs = {blockAttributes, titleAttributes, controlAttributes, controlWrapperAttrs}

  each value, index in Object.values(allAttrs)
    case width
      when 'narrow'
        -value.class += `${classNames[index]}_width_narrow `
      when 'premedium'
        -value.class += `${classNames[index]}_width_premedium `
      when 'medium'
        -value.class += `${classNames[index]}_width_medium `

    if withSubscription
      -value.class += `${classNames[index]}_with-subscription `
    if isExpandable
      -value.class += `${classNames[index]}_expandable `
      -controlAttributes.readonly = true
    if isFocused
      -value.class += `${classNames[index]}_focused `

    case type
      when 'text'
        -value.class += `${classNames[index]}_type_text `
        -allAttrs.controlAttributes.type = 'text'
      when 'mask'
        -const stringToAdd = `${classNames[index]}_type_masked `
        -value.class += `js-${stringToAdd} ${stringToAdd} `

  label&attributes(allAttrs.blockAttributes)
    if title
      p&attributes(allAttrs.titleAttributes) #{title}
    div&attributes(allAttrs.controlWrapperAttrs)
      input&attributes(allAttrs.controlAttributes)
      if withSubscription
        div.input__arrow_with-subscription
          +arrow({type: 'enter', isColored: true, isBold: true})
      else if isExpandable
        div.input__arrow_expandable
          +arrow({type: 'expand'})
