mixin checkbox({isChecked=false, text='', type='', description} = {})
  -const checkboxClass = 'checkbox'
  -const checkboxAttributes = {class: `${checkboxClass} `}

  if description
    - checkboxAttributes.class += ` ${checkboxClass}_rich`

  case type
    when 'toggle'
      - checkboxAttributes.class += ` ${checkboxClass}_type_toggle`
    default
      - checkboxAttributes.class += ` ${checkboxClass}_type_check`

  label&attributes(checkboxAttributes)
    input(class=`${checkboxClass}__button` type='checkbox' checked=isChecked)
    span(class=`${checkboxClass}__text`) #{text}
    if description
      p(class=`${checkboxClass}__description`) #{description}
