mixin checkbox({isChecked=false, text='', type='', value='', name='', description} = {})
  -let richModifier = ''
  if description
    -richModifier = ' checkbox_rich'

  -let typeModifier = ''
  case type
    when 'toggle'
      -typeModifier = ' checkbox_type_toggle'
    default
      -typeModifier = ' checkbox_type_check'

  label(class=`checkbox${richModifier}${typeModifier}`)
    input.checkbox__button(type='checkbox' name=name value=value checked=isChecked)
    span.checkbox__text #{text}
    if description
      p.checkbox__description #{description}
