//-
  types: checkbox/пусто - чекбокс, toggle - переключатель,
  additional - структура с дополнительными параметрами (description, text)
mixin checkbox({isChecked = false, text, type="", isRich = false, additional})
  -const checkboxClassName = 'checkbox'
  -const labelClassName = '__label'
  -const textClassName = '__text'
  -const inputClassName = '__hidden-button'
  -const descriptionClassName = '__description'
  -const classNames = [checkboxClassName, labelClassName, inputClassName, descriptionClassName, textClassName]

  -const checkboxAttrs = {class: `${checkboxClassName} `}
  -const labelAttrs = {class: `${checkboxClassName}${labelClassName} `}
  -const inputAttrs = {class: `${checkboxClassName}${inputClassName} `}
  -const descriptionAttrs = {class: `${checkboxClassName}${descriptionClassName} `}
  -const textAttrs = {class: `${checkboxClassName}${textClassName} `}
  -const allAttrs = [checkboxAttrs, labelAttrs, inputAttrs, descriptionAttrs, textAttrs]

  each value, index in Object.values(allAttrs)
    -const typeName = `${(type && type !== 'checkbox' && type !== 'rich') ? type : 'default'}`
    -const typeClass = `${checkboxClassName}${index ? classNames[index] : ''}_type_${typeName} `
    -const isInput = value === inputAttrs
    -const isLabel = value === labelAttrs
    -const isText = value === textAttrs
    -const isLike = type === 'like'
    -const isLikeTextOrLabel = isLike && (isText || isLabel)

    if isInput || isLikeTextOrLabel
      -value.class += `js-${typeClass} `
    -value.class += `${typeClass} `

  case type
    when 'radio'
      - inputAttrs.type = "radio"
      if additional && additional.group
        - inputAttrs.name = additional.group
    when 'toggle'
      - inputAttrs.type = "checkbox"
      if isChecked
        - labelAttrs.class += `${checkboxClassName}${labelClassName}_toggled `
    when "like"
      - inputAttrs.type = "checkbox"
      - labelAttrs["data-likes-count"] = text
    default
      - inputAttrs.type = "checkbox"

  if isRich
    each value, index in allAttrs
      - value.class += `${checkboxClassName}${index ? classNames[index] : ''}_rich `
    if additional && additional.description
      - var description = additional.description

  -inputAttrs["data-isChecked"] = `${isChecked}`
  div&attributes(checkboxAttrs)
    label&attributes(labelAttrs)
      p&attributes(textAttrs) #{text}
      input&attributes(inputAttrs)
      if isRich
        p&attributes(descriptionAttrs) #{description}
