mixin featureList({items=[]})
  -const listCN = 'features-list'
  -const listContainerCN = '__container'
  -const listItemCN = '__item'
  -const listItemImageCN = '__item-image'
  -const listItemTextContainerCN = '__item-text-container'
  -const listItemTitleCN = '__item-title'
  -const listItemTextCN = '__item-text'
  -const classNames = [listCN, listContainerCN, listItemCN, listItemImageCN, listItemTextContainerCN, listItemTitleCN, listItemTextCN]

  div(class=listCN)
    ul(class=`${listCN}${listContainerCN}`)
      each item, index in items
        li(class=`${listCN}${listItemCN}`)
          span(class=`${listCN}${listItemImageCN}`) #{item.icon}
          div(class=`${listCN}${listItemTextContainerCN}`)
            h4(class=`${listCN}${listItemTitleCN}`) #{item.title}
            span(class=`${listCN}${listItemTextCN}`) #{item.text}
