mixin featureList({items=[]} = {})
  -const listCN = 'features-list'

  div(class=listCN)
    ul(class=`${listCN}__container`)
      each item, index in items
        if index
          hr(class=`${listCN}__divider`)
        li(class=`${listCN}__item`)
          span(class=`${listCN}__item-image`) #{item.icon}
          div(class=`${listCN}__item-text-container`)
            h4(class=`${listCN}__item-title`) #{item.title}
            span(class=`${listCN}__item-text`) #{item.text}
