mixin featureList({items=[]} = {})
  -const listCN = 'features-list'
  -const listContainerCN = '__container'
  -const listItemCN = '__item'
  -const listItemImageCN = '__item-image'
  -const listItemTitleCN = '__item-title'
  -const listItemTextContainerCN = '__item-text-container'
  -const listItemTextCN = '__item-text'

  div(class=listCN)
    ul(class=`${listCN}${listContainerCN}`)
      each item, index in items
        if index
          hr(class=`${listCN}__divider`)
        li(class=`${listCN}${listItemCN}`)
          span(class=`${listCN}${listItemImageCN}`) #{item.icon}
          div(class=`${listCN}${listItemTextContainerCN}`)
            h4(class=`${listCN}${listItemTitleCN}`) #{item.title}
            span(class=`${listCN}${listItemTextCN}`) #{item.text}
