include ../../blocks/carousel/carousel
include ../../blocks/rating/rating
//- room
  currencySymbol: string
  costPerPeriod: int
  reviewsCount: int
  roomNumber: string
  roomType: string
  periodText: string
  rating: [int, int] | [rating, maxRating]
//- carousel
  content: array<object>
    tag: string | HTML tag,
    src: string | path to image
  carouselParams:
    'data-arrows': bool
    'data-dots': bool

mixin roomPreviewCard({link = 'room-details.html', room={}, carousel={content: [], carouselParams: {}}} = {})
  -room.currencySymbol = room.currencySymbol ? room.currencySymbol : '₽';
  -room.periodText = room.periodText ? room.periodText : 'в сутки';
  -room.rating = room.rating ? room.rating : [5, 5];

  div(
    class='js-room-preview-card room-preview-card'
    data-currency=room.currencySymbol
    data-cost-per-period=room.costPerPeriod
    data-reviews-count=room.reviewsCount
  )
    div.room-preview-card__photos
      +carousel(carousel)
    a.js-room-preview-card__text-content.room-preview-card__text-content(href=link)
      div.room-preview-card__room-info
        div.room-preview-card__room-description
          span.room-preview-card__room-num-symbol
            |№
          span.room-preview-card__room-number
            |#{` ${room.roomNumber} `}
          span.room-preview-card__room-type
            |#{room.roomType}
        div.room-preview-card__cost-info
          span.js-room-preview-card__cost-per-period.room-preview-card__cost-per-period
            |#{room.costPerPeriod}#{room.currencySymbol}
          span.room-preview-card__period
            |#{room.periodText}
      hr.room-preview-card__division-line
      div.room-preview-card__rate-info
        div.room-preview-card__rating
          +rateButton({maxRating: room.rating[1], rating: room.rating[0]})
        div.room-preview-card__reviews-info
          span.js-room-preview-card__reviews-count.room-preview-card__reviews-count
            |#{room.reviewsCount}
          span.js-room-preview-card__reviews-text.room-preview-card__reviews-text
            |Отзывов
