include ../../blocks/carousel/carousel
include ../../blocks/rate-button/rate-button
//- room
  {
    currencySymbol: string
    costPerPeriod: int
    reviewsCount: int
    roomNumber: string
    roomType: string
    periodText: string
    rating: [int, int] | [rating, maxRating]
  }
//- carousel
  {
    content:
    [
      {
        tag: string | HTML tag
        src: string | path to image
      }
    ]
    carouselParams:
    {
      "data-arrows": bool
      "data-dots": bool
    }
  }

mixin roomPreviewCard(data = {})
  -var defaultData = {room: {}, carousel: {content: [], carouselParams: {}}}
  -data = Object.assign(defaultData, data)

  -data.room.currencySymbol = data.room.currencySymbol ? data.room.currencySymbol : "₽";
  -data.room.periodText = data.room.periodText ? data.room.periodText : "в сутки";
  -data.room.rating = data.room.rating ? data.room.rating : [5, 5];

  div(
    class=`room-preview-card`
    data-currency=data.room.currencySymbol
    data-cost-per-period=data.room.costPerPeriod
    data-reviews-count=data.room.reviewsCount
  )
    div.room-preview-card__photos
      +carousel(data.carousel)
    div.room-preview-card__text-content
      div.room-preview-card__room-info
        div.room-preview-card__room-description
          span.room-preview-card__room-num-symbol.text_type_label-CTA
            |№
          span.room-preview-card__room-number.text_type_label-CTA
            |#{` ${data.room.roomNumber} `}
          span.room-preview-card__room-type.text_type_label-CTA
            |#{data.room.roomType}
        div.room-preview-card__cost-info
          span.room-preview-card__cost-per-period.text_type_regular
            |#{data.room.costPerPeriod}#{data.room.currencySymbol}
          span.room-preview-card__period.text_type_regular
            |#{data.room.periodText}
      hr.room-preview-card__division-line
      div.room-preview-card__rate-info
        div.room-preview-card__rating
          +rateButton({maxRating: data.room.rating[1], rating: data.room.rating[0]})
        div.room-preview-card__reviews-info
          span.room-preview-card__reviews-count.text_type_regular
            |#{data.room.reviewsCount}
          span.room-preview-card__reviews-text.text_type_regular
            |Отзывов
