include ../../blocks/arrow/arrow
include ../../blocks/input/input

mixin date-picker({title='', width, placeholder, isInline=false, data} = {})
  -const datepickerClass = 'date-picker'
  -const inlineDatepickerClass = `${datepickerClass}_inline`

  - const datepickerAttributes = {class: `js-${datepickerClass} ${datepickerClass} `}
  - datepickerAttributes.class += `${isInline ? `js-${inlineDatepickerClass} ${inlineDatepickerClass}` : ''}`
  - datepickerAttributes['data-first-date'] = data ? data[0] : ''
  - datepickerAttributes['data-second-date'] = data ? data[1] : ''

  article&attributes(datepickerAttributes)
    +input({title, width, placeholder, isExpandable: !isInline, inDatePicker: true})
