include ../../blocks/arrow/arrow
include ../../blocks/input/input

mixin date-picker({title='', width, placeholder, isInline=false, data} = {})
  -const datepickerClass = 'date-picker'
  -const inputWrapClass = `${datepickerClass}__input-wrap`
  -const inlineInputWrapClass = `${inputWrapClass}_inline`

  - const inputWrapAttributes = {class: `js-${inputWrapClass} ${inputWrapClass} `}
  - inputWrapAttributes.class += `${isInline ? `js-${inlineInputWrapClass} ${inlineInputWrapClass}` : ''}`
  - inputWrapAttributes['data-first-date'] = data ? data[0] : ''
  - inputWrapAttributes['data-second-date'] = data ? data[1] : ''

  div(class=`js-${datepickerClass} ${datepickerClass}`)
    div&attributes(inputWrapAttributes)
      +input({title: title, width: width, placeholder: placeholder, isExpandable: !isInline, inDatepicker: true})
