mixin radioButton({isChecked=false, text, group='', description} = {})
  -const checkboxClassName = 'radio-button'
  -const labelClassName = `${checkboxClassName}__label`
  -const textClassName = `${checkboxClassName}__text`
  -const inputClassName = `${checkboxClassName}__hidden-button`
  -const descriptionClassName = `${checkboxClassName}__description`
  -const classNames = [checkboxClassName, labelClassName, inputClassName, descriptionClassName, textClassName]

  -const checkboxAttrs = {class: `js-${checkboxClassName} ${checkboxClassName} `}
  -const labelAttrs = {class: `${labelClassName} `}
  -const inputAttrs = {class: `js-${inputClassName} ${inputClassName} `, type: 'radio', name: group, 'data-is-checked': `${isChecked}`}
  -const descriptionAttrs = {class: `${descriptionClassName} `}
  -const textAttrs = {class: `${textClassName} `}
  -const allAttrs = [checkboxAttrs, labelAttrs, inputAttrs, descriptionAttrs, textAttrs]

  if description
    each value, index in allAttrs
      - value.class += `${index ? classNames[index] : ''}_rich `

  div&attributes(checkboxAttrs)
    label&attributes(labelAttrs)
      p&attributes(textAttrs) #{text}
      input&attributes(inputAttrs)
      if description
        p&attributes(descriptionAttrs) #{description}
