mixin radioButton({isChecked=false, text, group='', description} = {})
  -const radioClass = 'radio-button'

  label(class=radioClass)
    input(class=`${radioClass}__input` type='radio' name=group checked=isChecked)
    span(class=`${radioClass}__text`) #{text}
