mixin featureList(data={})
  -var defaultData = {items: [], isExpandable: false};
  -data = Object.assign(defaultData, data);

  //- CN - className
  -const blockModifier = "_type_feature"
  -const addClasses = attributes.addClasses ? attributes.addClasses : ""

  -const listCN = "list"
  -const listContainerCN = "__container"
  -const listItemCN = "__item"
  -const listItemImageCN = "__item-image"
  -const listItemTextContainerCN = "__item-text-container"
  -const listItemTitleCN = "__item-title"
  -const listItemTextCN = "__item-text"
  -const classNames = [listCN, listContainerCN, listItemCN, listItemImageCN, listItemTextContainerCN, listItemTitleCN, listItemTextCN]

  -let listAttrs = {class: `${listCN} ${listCN}${blockModifier} `}
  -let listContainerAttrs = {class: `${listCN}${listContainerCN} ${listCN}${blockModifier}${listContainerCN} `}
  -let listElementAttrs = {class: `${listCN}${listItemCN} ${listCN}${blockModifier}${listItemCN} `}
  -let listElementImageAttrs = {class: `${listCN}${listItemImageCN} ${listCN}${blockModifier}${listItemImageCN} `}
  -let listItemTextContainerAttrs = {class: `${listCN}${listItemTextContainerCN} ${listCN}${blockModifier}${listItemTextContainerCN}`}
  -let listItemTitleAttrs = {class: `${listCN}${listItemTitleCN} ${listCN}${blockModifier}${listItemTitleCN} text_type_regular `}
  -let listElementTextAttrs = {class: `${listCN}${listItemTextCN} ${listCN}${blockModifier}${listItemTextCN} text_type_regular `}
  -const blAttributes =	[listAttrs, listContainerAttrs, listElementAttrs, listElementImageAttrs,
  -	listItemTextContainerAttrs, listItemTitleAttrs, listElementTextAttrs]

  if data.isExpandable
    each value, index in blAttributes
      - value.class += index === 0 ? classNames[index] + "_expandable " : listCN + "_expandable" + classNames[index] + " "

  div&attributes(listAttrs)
    ul&attributes(listContainerAttrs)
      each item, index in data.items
        li&attributes(listElementAttrs)
          span&attributes(listElementImageAttrs) #{item.icon}
          div&attributes(listItemTextContainerAttrs)
            h4&attributes(listItemTitleAttrs) #{item.title}
            span&attributes(listElementTextAttrs) #{item.text}
