include ../../blocks/carousel/carousel
include ../../blocks/RateButton/RateButton
//- room
	{
		currencySymbol: string
		costPerPeriod: int
		reviewsCount: int
		roomNumber: string
		roomType: string
		periodText: string
		rating: [int, int] | [rating, maxRating]
	}
//- carousel
	{
		content:
		[
			{
				tag: string | HTML tag
				src: string | path to image
			}
		]
		carouselParams:
		{
			"data-arrows": bool
			"data-dots": bool
		}
	}

mixin roomPreviewCard(room = {}, carousel = {content: [], carouselParams: {}})
	-if (!room)
	-	room = {};
	-room.currencySymbol = room.currencySymbol ? room.currencySymbol : "₽";
	-room.periodText = room.periodText ? room.periodText : "в сутки";
	-room.rating = room.rating ? room.rating : [5, 5];

	div.roomPreviewCard(
		data-currency=room.currencySymbol
		data-costPerPeriod=room.costPerPeriod
		data-reviewsCount=room.reviewsCount
		)
		+carousel(carousel)(addClasses="roomPreviewCard__photos")
		div.roomPreviewCard__textContent
			div.roomPreviewCard__roomInfo
				div.roomPreviewCard__roomDescription
					span.roomPreviewCard__roomNumSymbol.text_type_label-CTA
						|№
					span.roomPreviewCard__roomNumber.text_type_label-CTA
						|#{` ${room.roomNumber} `}
					span.roomPreviewCard__roomType.text_type_label-CTA
						|#{room.roomType}
				div.roomPreviewCard__costInfo
					span.roomPreviewCard__costPerPeriod.text_type_regular
						|#{room.costPerPeriod}#{room.currencySymbol}
					span.roomPreviewCard__period.text_type_regular
						|#{room.periodText}
			hr.roomPreviewCard__divisionLine
			div.roomPreviewCard__rateInfo
				+rateButton({maxRating: room.rating[1], rating: room.rating[0]})(addClasses="roomPreviewCard__rating")
				div.roomPreviewCard__reviewsInfo
					span.roomPreviewCard__reviewsCount.text_type_regular
						|#{room.reviewsCount}
					span.roomPreviewCard__reviewsText.text_type_regular
						|Отзывов
