include ../../blocks/carousel/carousel
include ../../blocks/RateButton/RateButton

mixin roomPreviewCard(data={room: {}})
	-if (!data.room)
	-	data.room = {};
	div.roomPreviewCard(
		data-currency=data.room.currencySymbol
		data-costPerPeriod=data.room.costPerPeriod
		data-reviewsCount=data.room.reviewsCount
		)
		+carousel(data.carousel)(addClasses="roomPreviewCard__photos")
		div.roomPreviewCard__textContent
			div.roomPreviewCard__roomInfo
				div.roomPreviewCard__roomDescription
					span.roomPreviewCard__roomNumSymbol.text_type_label-CTA
						|№
					span.roomPreviewCard__roomNumber.text_type_label-CTA
						|#{` ${data.room.roomNumber} `}
					span.roomPreviewCard__roomType.text_type_label-CTA
						|#{data.room.roomType}
				div.roomPreviewCard__costInfo
					span.roomPreviewCard__costPerPeriod.text_type_regular
						|#{data.room.costPerPeriod}#{data.room.currencySymbol}
					span.roomPreviewCard__period.text_type_regular
						|#{data.room.periodText}
			hr.roomPreviewCard__divisionLine
			div.roomPreviewCard__rateInfo
				+rateButton({maxRating: 5, rating: data.room.rating})(addClasses="roomPreviewCard__rating")
				div.roomPreviewCard__reviewsInfo
					span.roomPreviewCard__reviewsCount.text_type_regular
						|#{data.room.reviewsCount}
					span.roomPreviewCard__reviewsText.text_type_regular
						|Отзывов
