include ../input/input
include ../title/title
include ../fontawesome-icon-link/fontawesome-icon-link

mixin footer({text='', copyright='', links=[], subscription={}, isSimple=false} = {})
  -const logo = require('../../assets/images/logo-colored-with-text.svg');
  -const typeModifier = isSimple ? 'footer_simple' : ''
  footer.footer.js-footer(class=`${typeModifier}`)
    div.footer__content
      figure.footer__logo
        img.footer__logo-image(src=logo alt='цветной логотип с текстом: TOXIN')
        figcaption.footer__logo-text #{text}
      if !isSimple
        div.footer__links
          each column in links
            section.footer__links-column
              div.footer__links-column-title
                +title({type: 'label', text: column.title, tag: 'h2'})
              ul.footer__links-list
                if column.links
                  each link in column.links
                    li.footer__links-list-item
                      a.footer__link(href=link.url ? link.url : '/mock-address/change-me') #{link.text}
        form.footer__subscription
          div.footer__subscription-title
            +title({type: 'label', text: subscription.title, tag: 'h2'})
          span.footer__subscription-text #{subscription.text}
          div.footer__subscription-input
            +input({
              name: 'email',
              type: 'email',
              withSubscription: true,
              placeholder: subscription.emailPlaceholder
            })
    div.footer__copyright-bar
      if !isSimple
        span.footer__copyright-text #{copyright}
      ul.footer__social-media
        li.footer__icon
          +fontawesome-icon-link('twitter', 'https://twitter.com/')
        li.footer__icon
          +fontawesome-icon-link('facebook-square', 'https://facebook.com/')
        li.footer__icon
          +fontawesome-icon-link('instagram', 'https://www.instagram.com/')
