include ../input/input
include ../title/title
mixin footer({text='', copyright='', links=[], subscription={}, isSimple=false} = {})
  -const logo = require('../../assets/images/logo-colored-withText.svg');
  -const typeModifier = isSimple ? '_type_simple' : '_type_large'
  footer(class=`footer footer${typeModifier}`)
    div(class=`footer__content`)
      figure(class=`footer__logo`)
        img(src=logo alt='logo' class=`footer__logo-image`)
        figcaption(class=`footer__logo-text`) #{text}
      if !isSimple
        div.footer__links
          each column in links
            section.footer__links-column
              div.footer__links-column-title
                +title({type: 'label', text: column.title})
              if column.links
                each link in column.links
                  a.footer__link(href=link.url ? link.url : '/mock-address/change-me') #{link.text}
        section.footer__subscription
          div.footer__subscription-title
            +title({type: 'label', text: subscription.title})
          span.footer__subscription-text #{subscription.text}
          div.footer__subscription-input
            +input({
              type: 'text',
              width: 'almost-medium',
              withSubscription: true,
              placeholder: subscription.emailPlaceholder
            })
    div(class=`footer__copyright-bar`)
      if !isSimple
        span.footer__copyright-text #{copyright}
      section.footer__social-media
        div.footer__icon
          a.fab.fa-twitter(href='https://twitter.com/' target='_blank', rel='noopener noreferrer')
        div.footer__icon
          a.fab.fa-facebook-square(href='https://facebook.com/' target='_blank' rel='noopener noreferrer')
        div.footer__icon
          a.fab.fa-instagram(href='https://www.instagram.com/' target='_blank' rel='noopener noreferrer')
