mixin header__menuItem(itemData={})
	-createChildrenRecursive = function(itemsArray) {
		if itemsArray
			div.header__subMenu
				each child in itemsArray
					-let itemClasses =
					-`header__subMenuItem text_type_regular` +
					-`${itemData.bold ? " header__subMenuItem_bold" : ""}` +
					-`${child.children ? " header__subMenuItem_expandable" : ""}`
					div(class=itemClasses) #{child.text}
						if child.children
							button.header__expandButton expand_more
						-createChildrenRecursive(child.children)
	-}

	-let itemClasses = `header__menuItem text_type_regular` +
	-`${itemData.bold ? " header__menuItem_bold" : ""}` +
	-`${itemData.children ? " header__menuItem_expandable" : ""}`
	li(class=itemClasses) #{itemData.text}
		if itemData.children
			button.header__expandButton expand_more
		-createChildrenRecursive(itemData.children);
