include ../spinner/spinner
include ../input/input

mixin dropdown({title, width, dropdownType, placeholder, range=[0, 5], isUnified=false, isPure=false, isOpened=false, isUnaccepted=false, isFocused=false, data=undefined} = {})
  -const blockClass = 'dropdown'
  -const listClass = `${blockClass}__list`
  -const listWrapperClass = `${blockClass}__list-wrapper`
  -const inputClass = `${blockClass}__input`
  -const buttonsContainerClass = `${blockClass}__buttons-container`
  -const clearButtonClass = `${blockClass}__clear-button`
  -const confirmButtonClass = `${blockClass}__confirm-button`

  -let blockClasses = `js-${blockClass} ${blockClass} `
  -let listClasses = `js-${listClass} ${listClass} `
  -let listWrapperClasses = `js-${listWrapperClass} ${listWrapperClass} `

  if dropdownType === 'rooms'
    -listClasses += `${listClass}_type_rooms `
  else if dropdownType === 'customers'
    -listClasses += `${listClass}_type_customers `

  if isUnified
    -listClasses += `${listClass}_unified `
  if isOpened
    -blockClasses += `${blockClass}_opened `
  if isPure
    -blockClasses += `${blockClass}_pure `
  if isUnaccepted
    -blockClasses += `${blockClass}_unaccepted `

  -let validWidth = ''
  if width === 'medium'
    -blockClasses += `${blockClass}_width_medium `
    -listWrapperClasses += `${listWrapperClass}_width_medium `
    -validWidth = 'medium'

  div(class=blockClasses)
    div(class=`js-${inputClass} ${inputClass}`)
      +input({title, width: validWidth, placeholder, isExpandable: true, isFocused: isOpened})
    div(class=listWrapperClasses)
      div(class=listClasses)
        each element, index in data
          div.dropdown__list-row
            p.dropdown__list-row-text #{element.name}
            div.dropdown__spinner
              +spinner({range, name: element.name, index, initValue: element.value})
      div(class=`js-${buttonsContainerClass} ${buttonsContainerClass}`)
        div(class=`js-${clearButtonClass} ${clearButtonClass}`)
          +button({text: 'Очистить', type: 'text', isHovered: true})
        div(class=`js-${confirmButtonClass} ${confirmButtonClass}`)
          +button({text: 'Применить', type: 'text'})
