include ../spinner/spinner
include ../input/input

mixin dropdown({title, width, dropdownType, placeholder, range=[0, 5], isUnified=false, isPure=false, isOpened=false, isUnaccepted=false, isFocused=false, data=undefined} = {})
  -let typeListModifier = ''
  case dropdownType
    when 'rooms'
      -typeListModifier = 'dropdown__list_type_rooms'
    when 'customers'
      -typeListModifier = 'dropdown__list_type_customers'

  -let unifiedListModifier = openedModifier = pureModifier = unacceptedModifier = ''
  if isUnified
    -unifiedListModifier = `dropdown__list_unified`
  if isOpened
    -openedModifier = 'dropdown_opened'
  if isPure
    -pureModifier = 'dropdown_pure'
  if isUnaccepted
    -unacceptedModifier = 'dropdown_unaccepted'

  -let validWidth = widthModifier = ''
  if width === 'medium'
    -widthModifier = 'dropdown_width_medium'
    -validWidth = 'medium'

  article.js-dropdown.dropdown(class=`${openedModifier} ${pureModifier} ${unacceptedModifier} ${widthModifier}`)
    div.js-dropdown__input.dropdown__input
      +input({title, width: validWidth, placeholder, isExpandable: true, isFocused: isOpened, inDropdown: true})
    section.js-dropdown__list-wrapper.dropdown__list-wrapper
      div.js-dropdown__list.dropdown__list(class=`${typeListModifier} ${unifiedListModifier}`)
        each element, index in data
          div.dropdown__list-row
            p.dropdown__list-row-text #{element.name}
            div.dropdown__spinner
              +spinner({range, name: element.name, index, initValue: element.value})
      div.js-dropdown__buttons-container.dropdown__buttons-container
        div.js-dropdown__clear-button.dropdown__clear-button
          +button({text: 'Очистить', type: 'text', isHovered: true})
        div.js-dropdown__confirm-button.dropdown__confirm-button
          +button({text: 'Применить', type: 'text'})
