include ../spinner/spinner
include ../input/input

mixin dropdown({ name, title, dropdownType, placeholder, range=[0, 5], unifiedCaption, isPure=false, isOpened=false, isUnaccepted=false, isFocused=false, data=[] } = {})
  -let openedModifier = ''
  if isOpened
    -openedModifier = ' dropdown_opened'
  -let pureModifier = ''
  if isPure
    -pureModifier = ' dropdown_pure'
  -let unacceptedModifier = ''
  if isUnaccepted
    -unacceptedModifier = ' dropdown_unaccepted'

  div(class=`dropdown js-dropdown${openedModifier}${pureModifier}${unacceptedModifier}` data-unified-caption=unifiedCaption)
    div.dropdown__input.js-dropdown__input
      +input({ name, title, placeholder, isExpandable: true, isActive: isOpened, inDropdown: true })
    div.dropdown__list-wrapper.js-dropdown__list-wrapper
      div.dropdown__list.js-dropdown__list
        each element, index in data
          div.dropdown__list-row.js-dropdown__list-row
            p.dropdown__list-row-text.js-dropdown__list-row-text(
              data-declinations=element.declinations
              data-is-separate=`${element.isSeparate || ''}`
              data-always-visible=`${element.alwaysVisible || ''}`) #{element.title}
            div.dropdown__spinner
              +spinner({ min: range[0], max: range[1], index, name: element.name, initValue: element.value })
      div.dropdown__buttons-container.js-dropdown__buttons-container
        div.dropdown__clear-button.js-dropdown__clear-button
          +button({ text: 'Очистить', style: 'text' })
        div.dropdown__confirm-button.js-dropdown__confirm-button
          +button({ text: 'Применить', style: 'text' })
