include ../checkbox/checkbox
include ../radio-button/radio-button
include ../arrow/arrow
include ../title/title

mixin checkbox-list({isExpandable=false, isNarrow=false, isOpened=false, title='', elements=[]} = {})
  -const listClass = 'checkbox-list'
  -const listAttributes = {class: `js-${listClass} ${listClass} `}

  if isExpandable
    -listAttributes.class += `${listClass}_expandable `
    if isOpened
      -listAttributes.class += `${listClass}_expanded `

  if isNarrow
    -listAttributes.class += `${listClass}_narrow `

  fieldset&attributes(listAttributes)
    if title
      legend(class=`js-${listClass}__title ${listClass}__title`)
        +title({type: 'label', text: title})
      if isExpandable
        div(class=`${listClass}__expand-arrow`)
          +arrow({type: 'expand'})
    ul(class=`js-${listClass}__container ${listClass}__container`)
      each value, index in elements
        -const itemClasses = `${listClass}__item ${value.description ? `${listClass}__item_rich` : ''}`
        li(class=itemClasses)
          +checkbox(value)
