include ../checkbox/checkbox
include ../radio-button/radio-button
include ../arrow/arrow
include ../title/title

mixin checkbox-list({isExpandable=false, isNarrow=false, isOpened=false, title='', elements=[]} = {})
  -const listClass = 'checkbox-list'
  -const titleClass = `${listClass}__title`
  -const containerClass = `${listClass}__container`
  -const classNames = [listClass, titleClass, containerClass]

  -const listAttributes = {class: `js-${listClass} ${listClass} `}
  -const titleAttributes = {class: `js-${titleClass} ${titleClass} `}
  -const containerAttributes = {class: `js-${containerClass} ${containerClass} `}
  -const allAttributes = [listAttributes, titleAttributes, containerAttributes]

  each value, index in allAttributes
    if isExpandable
      -value.class += `${classNames[index]}_expandable `

  if isNarrow
    -titleAttributes.class += `${titleClass}_narrow `
  if isOpened
    -listAttributes.class += `${listClass}_expanded `

  fieldset&attributes(listAttributes)
    if title
      legend&attributes(titleAttributes)
        +title({type: 'label', text: title})
      if isExpandable
        div(class=`${listClass}__expand-arrow`)
          +arrow({type: 'expand'})
    div&attributes(containerAttributes)
      each value, index in elements
        -const itemClasses = `${listClass}__item ${value.description ? `${listClass}__item_rich` : ''}`
        div(class=itemClasses)
          +checkbox(value)
