mixin spinner(attrs={})
  -const spinnerClass = 'spinner'
  -const valueClass = 'spinner__value'
  -var defaultAttrs = {range: [], name, index, initValue}
  -attrs = Object.assign(defaultAttrs, attrs);

  div(class=`js-${spinnerClass} ${spinnerClass}`)
    input(
      class=`js-${valueClass} ${valueClass}`
      data-name=attrs.name
      data-min=attrs.range[0]
      data-max=attrs.range[1]
      data-index=attrs.index
      value=attrs.initValue ? attrs.initValue : 0
      readonly=true
    )
