mixin spinner({range = [], name, index, initValue})
  -const spinnerClass = 'spinner'
  -const valueClass = 'spinner__value'

  div(class=`js-${spinnerClass} ${spinnerClass}`)
    input(
      class=`js-${valueClass} ${valueClass}`
      data-name=name
      data-min=range[0]
      data-max=range[1]
      data-index=index
      value=initValue ? initValue : 0
      readonly=true
    )
