mixin spinner({min=0, max=5, index, initValue=0} = {})
  div.spinner.js-spinner
    input.spinner__value.js-spinner__value(
      data-min=min data-max=max
      data-index=index value=initValue readonly=true
    )
