<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="details")
    meta(name="description" content="room details page")
    link(rel="icon" href=require('../../assets/images/icon-colored.png'))
    title Информация о номере
  body
    include ../../page-elements/header/header
    -const logoPath = require('../../assets/images/logo_colored_withText.svg')
    +header(
      {
        loginText: "Войти",
        registerText: "Зарегистрироваться",
        logo: logoPath
      },
      [
        {text: "О нас"},
        {
          text: "Услуги",
          children: [
            {text: "Услуга 1", children: [{text: "456", children: [{text: "1231"}]}]},
            {text: "Услуга 2", children: [{text: "123"}]}
          ]
        },
        {text: "Вакансии"},
        {text: "Новости"},
        {
          text: "Соглашения",
          children: [
            {text: "Соглашение 1", children: [{text: "456", children: [{text: "1231"}]}]},
            {text: "Соглашение 2", children: [{text: "123"}]}
          ]
        },
      ],
      "narrow"
    )(addClasses="room-details__header")
    div.room-details__photos
      img.room-details__main-photo(src=require("../../assets/images/room-details-1.jpg"))
      div.room-details__side-photos
        img.room-details__upper-side-photo(src=require("../../assets/images/room-details-2.jpg"))
        img.room-details__lower-side-photo(src=require("../../assets/images/room-details-3.jpg"))
    div.room-details__content
      //- контейнер слева
      div.room-details__info-container
        include ../../blocks/list/list
        div.room-details__main-info
          div.room-details__features-container
            h2.text_type_item-title.room-details__features-title Сведения о номере
            +featureList([
              {text: "Шумопоглощающие стены", title: "Комфорт", icon: "insert_emoticon"},
              {title: "Удобство", text: "Окно в каждой из спален", icon: "location_city"},
              {title: "Уют", text: "Номер оснащён камином", icon: "whatshot"},
            ])(addClasses="room-details__features-content")
          div.room-details__expressions-container
            include ../../blocks/donut-chart/donut-chart
            h2.text_type_item-title.room-details__expressions-title Впечатления от номера
            +donut-chart()(addClasses="room-details__donut-chart")
        div.room-details__reviews-container
          div.room-details__reviews-title-container
            h2.text_type_item-title.room-details__reviews-title Отзывы посетителей номера
            span.text_type_regular.room-details__reviews-count 2 отзыва
          div.room-details__reviews-content
            include ../../blocks/comment/comment
            +comment({
              avatar: require("../../assets/images/userAvatar.jpg"),
              author: "Мурад Сарафанов",
              dateTime: "5 дней назад",
              text: "Великолепный матрас на кровати в основной спальне! " +
                "А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. " +
                "Выкрикивал комплименты повару — никто не жаловался из соседей.",
              isLiked: true,
              likesCount: 12
            })(addClasses="room-details__comment")
            +comment({
              avatar: require("../../assets/images/userAvatar-2.jpg"),
              author: "Патрисия Стёклышкова",
              dateTime: "Неделю назад",
              text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, " +
                "каждый день новое блюдо и десерт как комплимент",
              likesCount: 2
            })(addClasses="room-details__comment")
        div.room-details__additional-info
          div.room-details__rules-container
            h2.text_type_item-title.room-details__rules-title Правила
            +bulletList(
              "",
              ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]
            )(isExpandable=false, addClasses="room-details__rules-list")
          div.room-details__cancellation-container
            h2.text_type_item-title.room-details__cancellation-title Отмена
            span.text_type_regular.room-details__cancellation-text
              |Бесплатная отмена в течение 48 ч.
              |После этого при отмене не позднее чем за 5 дн. до прибытия
              |вы получите полный возврат за вычетом сбора за услуги.
      //- карточка справа
      include ../../cards/booking-card/booking-card
      +bookingCard({
        roomNumber: "888",
        roomType: "люкс",
        currency: "₽",
        dailyPrice: 9990,
        arrivalDate: "19.08.2019",
        departureDate: "23.08.2019",
        services: [{name: "скидка", cost: -2179}],
        additionalPrice: 300,
        dropdownItems: [{name: "Взрослые", value: 2}, {name: "Дети", value: 1}, {name: "Младенцы"}]
      })(addClasses="room-details__booking-card")
    //Футер
    include ../../page-elements/footer/footer
    +largeFooter(
      {
        logo: logoPath,
        text: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
        copyright: "Copyright © 2018 Toxin отель. Все права зачищены."
      },
      [
        {
          title: "Навигация",
          links:
            [
              {text: "О нас", url: "#"},
              {text: "Новости", url: "#"},
              {text: "Служба поддержки", url: "#"},
              {text: "Услуги", url: "#"}
            ]
        },
        {
          title: "О нас",
          links:
            [
              {text: "О сервисе", url: "#"},
              {text: "Наша команда", url: "#"},
              {text: "Вакансии", url: "#"},
              {text: "Инвесторы", url: "#"}
            ]
        },
        {
          title: "Служба поддержки",
          links:
            [
              {text: "Соглашения", url: "#"},
              {text: "Сообщества", url: "#"},
              {text: "Связь с нами", url: "#"}
            ]
        }
      ],
      {title: "Подписка", text: "Получайте специальные предложения и новости сервиса", emailPlaceholder: "Email"}
    )(addClasses="room-details__footer")
