mixin header__menuItem(itemData={})
  -var narrowClass = "header_narrow"

  -function createChildrenRecursive (itemsArray) {
    if itemsArray
      div(class=`header__submenu ${itemData.isNarrow ? narrowClass + "__submenu" : ""}`)
        each child in itemsArray
          -var itemClasses =
          -`header__submenu-item ${itemData.isNarrow ? narrowClass + "__submenu-item" : ""} text_type_regular` +
          -`${itemData.bold ? " header__submenu-item_bold" : ""}` +
          -`${child.children ? " header__submenu-item_expandable" : ""}`
          div(class=itemClasses) #{child.text}
            if child.children
              button(class=`header__expand-button ${itemData.isNarrow ? narrowClass + "__expand-button" : ""}`) expand_more
            -createChildrenRecursive(child.children)
  -}

  -var itemClasses = `header__menu-item ${itemData.isNarrow ? narrowClass + "__menu-item" : ""} text_type_regular` +
  -`${itemData.bold ? " header__menu-item_bold" : ""}` +
  -`${itemData.children ? " header__menu-item_expandable" : ""}`
  li(class=itemClasses) #{itemData.text}
    if itemData.children
      button(class=`header__expand-button ${itemData.isNarrow ? narrowClass + "__expand-button" : ""}`) expand_more
    -createChildrenRecursive(itemData.children);
