include ../../blocks/button/button
include ../../blocks/arrow/arrow

mixin header({userLogin='', loginText='Login', registerText='register', content=[], isNarrow=false} = {})
  -const headerClass = 'header'
  -const logo = require('../../assets/images/logo-colored-withText.svg');

  header(class=`js-${headerClass} ${headerClass} ${isNarrow ? `${headerClass}_narrow` : ''}`)
    a(class=`js-${headerClass}__logo-link ${headerClass}__logo-link ${isNarrow ? `${headerClass}__logo-link_narrow` : ''}`)
      img(src=logo alt='logo' class=`${headerClass}__logo ${isNarrow ? `${headerClass}__logo_narrow` : ''}`)
    nav(class=`${headerClass}__content ${isNarrow ? `${headerClass}__content_narrow` : ''}`)
      ul(class=`${headerClass}__items ${isNarrow ? `${headerClass}__items_narrow` : ''}`)
        each item, index in content
          -const itemClasses = `${headerClass}__item ${isNarrow ? `${headerClass}__item_narrow` : ''}` +
          -`${item.children ? ` ${headerClass}__item_expandable` : ''}`
          li(class=itemClasses)
            -const linkClasses = `header__item-link ${item.bold ? ` ${headerClass}__item-link_bold` : ''}`
            a(class=linkClasses href=item.link ? item.link : '/mock-address/change-me') #{item.text}
            if item.children
              div(class=`${headerClass}__expand-button ${isNarrow ? `${headerClass}__expand-button_narrow` : ''}`)
                +arrow({type: 'expand', isRelative: true})
      if (userLogin)
        div(class=`${headerClass}__divider ${isNarrow ? `${headerClass}__divider_narrow` : ''}`)
        div(class=`${headerClass}__user-name ${isNarrow ? `${headerClass}__user-name_narrow` : ''}`) #{userLogin}
      else
        div(class=`${headerClass}__buttons ${isNarrow ? `${headerClass}__buttons_narrow` : ''}`)
          div(class=`js-${headerClass}__login-button ${headerClass}__login-button ${isNarrow ? `${headerClass}__login-button_narrow` : ''}`)
            +button({text: loginText, type: 'bordered', isTextSized: true, isLink: true, link: 'registration-login.html?login=true'})
          div(class=`js-${headerClass}__register-button ${headerClass}__register-button ${isNarrow ? `${headerClass}__register-button_narrow` : ''}`)
            +button({text: registerText, type: 'filled', isTextSized: true, isLink: true, link: 'registration-login.html?login=false'})
