include ../../blocks/button/button
include ../../blocks/arrow/arrow

mixin header({userLogin='', loginText='Login', registerText='register', content=[], isNarrow=false} = {})
  -const headerClass = 'header'
  -const narrowClass = `${headerClass}_narrow`
  -const logo = require('../../assets/images/logo-colored-withText.svg');

  header(class=`js-${headerClass} ${headerClass} ${isNarrow ? narrowClass : ''}`)
    a(class=`js-${headerClass}__logo-link ${headerClass}__logo-link ${isNarrow ? `${headerClass}__logo-link_narrow` : ''}`)
      img(src=logo alt='logo' class=`${headerClass}__logo ${isNarrow ? `${headerClass}__logo_narrow` : ''}`)
    div(class=`${headerClass}__content-container ${isNarrow ? `${headerClass}__content-container_narrow` : ''}`)
      ul(class=`${headerClass}__menu ${isNarrow ? `${headerClass}__menu_narrow` : ''}`)
        each item, index in content
          -const itemClasses = `${headerClass}__menu-item ${isNarrow ? `${headerClass}__menu-item_narrow` : ''}` +
          -`${item.bold ? ` ${headerClass}__menu-item_bold` : ''}` +
          -`${item.children ? ` ${headerClass}__menu-item_expandable` : ''}`
          li(class=itemClasses) #{item.text}
            if item.children
              div(class=`${headerClass}__expand-button ${isNarrow ? `${headerClass}__expand-button_narrow` : ''}`)
                +arrow({type: 'expand', isRelative: true})
      if (userLogin)
        div(class=`${headerClass}__divider ${isNarrow ? `${headerClass}__divider_narrow` : ''}`)
        div(class=`${headerClass}__user-name ${isNarrow ? `${headerClass}__user-name_narrow` : ''}`) #{userLogin}
      else
        div(class=`${headerClass}__buttons-container ${isNarrow ? `${headerClass}__buttons-container_narrow` : ''}`)
          div(class=`js-${headerClass}__login-button ${headerClass}__login-button ${isNarrow ? `${headerClass}__login-button_narrow` : ''}`)
            +button({text: loginText, type: 'bordered', isTextSized: true, isLink: true})
          div(class=`js-${headerClass}__register-button ${headerClass}__register-button ${isNarrow ? `${headerClass}__register-button_narrow` : ''}`)
            +button({text: registerText, type: 'filled', isTextSized: true, isLink: true})
