include ../../blocks/button/button
include __menu-item/header__menu-item

mixin header(data={})
  -var defaultData = {userLogin: "", logo: "", loginText: "Login", registerText: "register", content: [], isNarrow: false}
  -data = Object.assign(defaultData, data)

  -var narrowClass = "header_narrow"

  header(class=`header ${data.isNarrow ? narrowClass : ""}`)
    a(class=`header__logo-link ${data.isNarrow ? narrowClass + "__logo-link" : ""}`)
      img(src=data.logo alt="logo" class=`header__logo ${data.isNarrow ? narrowClass + "__logo" : ""}`)
    div(class=`header__content-container ${data.isNarrow ? narrowClass + "__content-container" : ""}`)
      ul(class=`header__menu ${data.isNarrow ? narrowClass + "__menu" : ""}`)
        each item, index in data.content
          -item.isNarrow = data.isNarrow
          +header__menuItem(item)
      if (data.userLogin)
        div(class=`header__divider ${data.isNarrow ? narrowClass + "__divider" : ""}`)
        div(class=`header__user-name ${data.isNarrow ? narrowClass + "__user-name" : ""} text_type_regular`) #{data.userLogin}
      else
        div(class=`header__buttons-container ${data.isNarrow ? narrowClass + "__buttons-container" : ""}`)
          div(class=`header__login-button ${data.isNarrow ? narrowClass + "__login-button" : ""}`)
            +Button({text: data.loginText, type: "bordered", isTextSized: true, isLink: true})
          div(class=`header__register-button ${data.isNarrow ? narrowClass + "__register-button" : ""}`)
            +Button({text: data.registerText, type: "filled", isTextSized: true, isLink: true})
