mixin colorBlock({color='fffff', colorName='white'})
  div.colors-type__color-block
    div.color-block__square(data-color=colorName)
    div.color-block__description
      p.color-block__name #{colorName}
      p.color-block__code #{color}

mixin typeBlock({headerText='Header', text='Lorem Ipsum dolor set amet....'})
  header.colors-type__type-header(data-text-type=headerText) #{headerText}
  p.colors-type__type-text #{text}


section.colors-type
  div.colors-type__color-blocks
    +colorBlock({color: '#1F2041', colorName: 'Dark Shade 100%'})
    +colorBlock({color: '#1F2041', colorName: 'Dark Shade 75%'})
    +colorBlock({color: '#1F2041', colorName: 'Dark Shade 50%'})
    +colorBlock({color: '#1F2041', colorName: 'Dark Shade 25%'})
    +colorBlock({color: '#1F2041', colorName: 'Dark Shade 5%'})
    +colorBlock({color: '#BC9CFF', colorName: 'Purple'})
    +colorBlock({color: '#6FCF97', colorName: 'Green'})
  div.colors-type__type-blocks
    +typeBlock({headerText: 'H1', text: 'This one is the sub-section or widget title'})
    +typeBlock({headerText: 'H2', text: 'Next one is the item title inside widgets'})
    +typeBlock({headerText: 'H3', text: 'this is a label or CTA text'})
    +typeBlock({headerText: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'})
