mixin spinner(range, element, index, initValue)
  -var start = range[0]
  -var end = range[1]
  div.input_type_spinner
    input(
      class="input__value_type_spinner text_type_label-CTA"
      data-name=element
      data-min=range[0]
      data-max=range[1]
      data-index=index
      value=initValue ? initValue : 0
      readonly=true)
