include ../date-picker/date-picker

mixin double-date-picker({labels=[], firstDate, secondDate} = {})
  -const doubleDatePickerClass = 'double-date-picker'
  -const firstDatePickerClass = `${doubleDatePickerClass}__first-date-picker`
  -const secondDatePickerClass = `${doubleDatePickerClass}__second-date-picker`

  -function createDatePicker(title) {
    +date-picker({
      title: title ? title : "",
      width: "narrow",
      placeholder: "ДД.ММ.ГГГГ",
    })
  -}

  section(class=`js-${doubleDatePickerClass} ${doubleDatePickerClass}` data-first-date=firstDate data-second-date=secondDate)
    div(class=`js-${firstDatePickerClass} ${firstDatePickerClass}`)
      -createDatePicker(labels[0])
    div(class=`js-${secondDatePickerClass} ${secondDatePickerClass}`)
      -createDatePicker(labels[1])
