include ../checkbox/checkbox
include ../bullet-list/bullet-list
include ../features-list/features-list

mixin list(data={})
  -var defaultData = {type: "", isExpandable: false, isNarrow: false, isOpened: false, title: "", elements: []}
  -data = Object.assign(defaultData, data);

  -var listClassName = "list"
  -var titleClassName = "__title"
  -var containerClassName = "__container"
  -var classNames = [listClassName, titleClassName, containerClassName]

  -var listAttrs = {class: listClassName + " "}
  -var titleAttrs = {class: listClassName + titleClassName + " "}
  -var containerAttrs = {class: listClassName + containerClassName + " "}
  -var attrs = [listAttrs, titleAttrs, containerAttrs]
  -var inputType = ""

  -var isRich = false;

  each value, index in attrs
    //- типы чекбоксов
    if data.type.includes("checkbox")
      - value.class += index === 0 ? classNames[index] + "_type_checkbox " : listClassName + "_type_checkbox" + classNames[index] + " "
      -inputType = "checkbox"
    else if data.type.includes("radio")
      - value.class += index === 0 ? classNames[index] + "_type_radio " : listClassName + "_type_radio" + classNames[index] + " "
      -inputType = "radio"
    else if data.type.includes("toggle")
      - value.class += index === 0 ? classNames[index] + "_type_toggle " : listClassName + "_type_toggle" + classNames[index] + " "
      -inputType = "toggle"
    else if data.type.includes("rich")
      - value.class += index === 0 ? classNames[index] + "_type_rich " : listClassName + "_type_rich" + classNames[index] + " "
      -inputType = "rich"
      -isRich = true
    //- модификаторы списка
    if data.isExpandable
      - value.class += index === 0 ? classNames[index] + "_expandable " : listClassName + "_expandable" + classNames[index] + " "
      if data.isNarrow
        - value.class += index === 0 ? classNames[index] + "_expandable-narrow " : listClassName + "_expandable-narrow" + classNames[index] + " "
      if data.isOpened
        - value.class += index === 0 ? classNames[index] + "_expandable-opened " : listClassName + "_expandable-opened" + classNames[index] + " "

  fieldset&attributes(listAttrs)
    if data.title
      legend&attributes(titleAttrs) #{data.title}
    div&attributes(containerAttrs)
      each value, index in data.elements
        div(class=`${listClassName}__input ${listClassName}_type_${inputType}__input`)
          +checkbox({
            text: value.text, type: `${inputType}`, isRich: isRich,
            additional: value, isChecked: value.isChecked
          })
