//- data = {logo: path to image, text: string, copyright: string}
//- links = [{title: string, links: [string, string]},]
//- subscription = {title: string, text: string}
mixin largeFooter(data={}, links=[], subscription={})
	include ../../../../blocks/Input/Input
	-let _subscription = subscription;
	-_subscription.title = _subscription.title ? _subscription.title : "Subscribe to our newsletter";
	-_subscription.text = _subscription.text ? _subscription.text : "Receive our latest news and promotions in your inbox!";
	footer.footer.footer_type_large
		div.footer__contentSection
			div.footer__logoSection
				img(src=data.logo alt="logo").footer__logo
				span.footer__logoText.text_type_regular #{data.text}
			div.footer__linksSection
				each column in links
					div.footer__linksColumn
						h3.footer__linksSectionTitle.text_type_label-CTA #{column.title}
						if column.links
							each link in column.links
								a.footer__link.text_type_regular(href=link.url) #{link.text}
			div.footer__subscribeSection
				h3.footer__subscriptionTitle.text_type_label-CTA #{subscription.title}
				span.footer__subscriptionText.text_type_regular #{subscription.text}
				+Input("", "text medium", "Your email address", "footer__subscribeInput", "")
		div.footer__copyrightBar
			span.footer__copyrightText.text_type_regular #{data.copyright}
			+socialMedia()
