mixin like-button({isChecked=false, count=0} = {})
  -const likeClass = 'like-button'
  -const inputClass = `${likeClass}__hidden-button`

  -const likeAttributes = {class: `js-${likeClass} ${likeClass} `, 'data-likes-count': count}
  -const inputAttributes = {class: `js-${inputClass} ${inputClass} `, type: 'checkbox', 'data-is-checked': `${isChecked}`}

  label&attributes(likeAttributes)
    p(class=`js-${likeClass}__text ${likeClass}__text`) #{count}
    input&attributes(inputAttributes)
