include ../button/button
include ../arrow/arrow

mixin header({userLogin='', loginText='Login', registerText='register', content=[], isNarrow=false} = {})
  header.js-header.header(class=`${isNarrow ? `header_narrow` : ''}`)
    a.js-header__logo-link.header__logo-link(href='landing.html')
      img.header__logo(src=require('../../assets/images/logo-colored-withText.svg') alt='logo')
    nav.header__content
      ul.header__items
        each item, index in content
          -const expandableItemModifier = item.children ? 'header__item_expandable' : ''
          li.header__item(class=`${expandableItemModifier}`)
            -const boldLinkModifier = item.bold ? ` header__item-link_bold` : ''
            a.header__item-link(class=`${boldLinkModifier}` href=(item.link ? item.link : '/mock-address/change-me')) #{item.text}
            if item.children
              div.header__expand-button
                +arrow({type: 'expand', isRelative: true})
      if (userLogin)
        div.header__divider
        div.header__user-name #{userLogin}
      else
        div.header__buttons
          div.js-header__login-button.header__login-button
            +button({text: loginText, type: 'bordered', isTextSized: true, isLink: true, link: 'login.html'})
          div.js-header__register-button.header__register-button
            +button({text: registerText, type: 'filled', isTextSized: true, isLink: true, link: 'registration.html'})
