include ../button/button
include ../arrow/arrow

mixin header({userLogin='', loginText='Login', registerText='register', content=[]} = {})
  header.header.js-header
    a.header__logo-link.js-header__logo-link(href='landing.html')
      img.header__logo(src=require('../../assets/images/logo-colored-withText.svg') alt='цветной логотип с текстом: TOXIN')
    nav.header__content
      ul.header__items
        each item, index in content
          -const expandableItemModifier = item.children ? 'header__item_expandable' : ''
          li.header__item(class=`${expandableItemModifier}`)
            -const boldLinkModifier = item.bold ? ` header__item-link_bold` : ''
            a.header__item-link(class=`${boldLinkModifier}` href=(item.link ? item.link : '/mock-address/change-me')) #{item.text}
            if item.children
              button.header__expand-button
                +arrow({type: 'expand'})
      if (userLogin)
        div.header__divider
        div.header__user-name #{userLogin}
      else
        div.header__buttons
          div.header__login-button.js-header__login-button
            +button({text: loginText, style: 'bordered', isStretched: false, isLink: true, link: 'login.html'})
          div.header__register-button.js-header__register-button
            +button({text: registerText, style: 'filled', isStretched: false, isLink: true, link: 'registration.html'})
