mixin bulletList({title = "", contentStrings = []} = {})
  -const listClass = "bullet-list"
  -const listTitleClass = "__title"
  -const listContainerClass = "__container"
  -const listElementClass = "__item"
  -const listElementImageClass = "__item-image"
  -const listElementTextClass = "__item-text"

  div(class=listClass)
    if title
      h4(class=`${listClass}${listTitleClass}`) #{title}
    ul(class=`${listClass}${listContainerClass}`)
      each string, index in contentStrings
        li(class=`${listClass}${listElementClass}`)
          div(class=`${listClass}${listElementImageClass}`)
          span(class=`${listClass}${listElementTextClass}`) #{string}
