include ../title/title
mixin bullet-list({title = '', contentStrings = []} = {})
  -const listClass = 'bullet-list'
  -const listTitleClass = `${listClass}__title`
  -const listContainerClass = `${listClass}__container`
  -const listElementClass = `${listClass}__item`
  -const listElementImageClass = `${listClass}__item-image`
  -const listElementTextClass = `${listClass}__item-text`

  div(class=listClass)
    if title
      div(class=listTitleClass)
        +title({type: 'label', text: title})
    ul(class=listContainerClass)
      each string, index in contentStrings
        li(class=listElementClass)
          i(class=listElementImageClass)
          p(class=listElementTextClass) #{string}
