mixin bulletList({title = "", contentStrings = []})
  -const listCN = "bullet-list"
  -const listTitleCN = "__title"
  -const listContainerCN = "__container"
  -const listElementCN = "__item"
  -const listElementImageCN = "__item-image"
  -const listElementTextCN = "__item-text"

  div(class=listCN)
    h4(class=`${listCN}${listTitleCN}`) #{title}
    ul(class=`${listCN}${listContainerCN}`)
      each string, index in contentStrings
        li(class=`${listCN}${listElementCN}`)
          div(class=`${listCN}${listElementImageCN}`)
          span(class=`${listCN}${listElementTextCN}`) #{string}
